In [1]:
import pandas as pd

In [2]:
path = "Resources/all_records.csv"
pets_df = pd.read_csv(path)
pets_df.head()

,Unnamed: 0,Animal ID,Name_intake,DateTime_intake,MonthYear_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,...,beagle,terrier,boxer,poodle,rottweiler,dachshund,chihuahua,pit bull,DateTime_length,Days_length
0,0,A730601,NaN,2016-07-07 12:11:00,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,...,0,0,0,0,0,0,0,0,0 days 20:49:00.000000000,0-7 days
1,1,A683644,*Zoey,2014-07-13 11:02:00,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,...,0,0,0,0,0,0,0,0,115 days 23:04:00.000000000,12 weeks - 6 months
2,2,A676515,Rico,2014-04-11 08:45:00,04/11/2014 08:45:00 AM,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,...,0,0,0,0,0,0,0,1,3 days 09:53:00.000000000,0-7 days
3,3,A742953,NaN,2017-01-31 13:30:00,01/31/2017 01:30:00 PM,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,...,0,0,0,0,0,0,0,0,4 days 00:47:00.000000000,0-7 days
4,4,A679549,*Gilbert,2014-05-22 15:43:00,05/22/2014 03:43:00 PM,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,...,0,0,0,0,0,0,0,0,24 days 22:11:00.000000000,3-6 weeks

In [3]:
for col in pets_df.columns: 
    print(col)

Unnamed: 0
Animal ID
Name_intake
DateTime_intake
MonthYear_intake
Found_Location
Intake_Type
IntakeCondition
Animal_Type_intake
Sex
Age
Breed_intake
Color_intake
Name_outcome
DateTime_outcome
MonthYear_outcome
Outcome_Type
Outcome_Subtype
Sex_upon_Outcome
Age_upon_Outcome
gender_intake
gender_outcome
fixed_intake
fixed_outcome
fixed_changed
Age_Bucket
retriever
shepherd
beagle
terrier
boxer
poodle
rottweiler
dachshund
chihuahua
pit bull
DateTime_length
Days_length

In [4]:
# Filter dataframe for desired columns and rename as needed
pet_columns = ["Animal ID", "DateTime_intake", "Intake_Type", "IntakeCondition", "Animal_Type_intake", "Sex", "Age", "Breed_intake",
               "Color_intake", "DateTime_outcome", "Outcome_Type", "Age_upon_Outcome", "Age_Bucket", "retriever", "shepherd", "beagle", 
               "terrier", "boxer", "poodle", "rottweiler", "dachshund", "chihuahua", "pit bull", "DateTime_length", "Days_length"]

pets_transformed= pets_df[pet_columns].copy()

pets_transformed = pets_transformed.rename(columns={"IntakeCondition": "Condition_intake",
                                                    "Age": "Age_intake"})

pets_transformed.head()

,Animal ID,DateTime_intake,Intake_Type,Condition_intake,Animal_Type_intake,Sex,Age_intake,Breed_intake,Color_intake,DateTime_outcome,...,beagle,terrier,boxer,poodle,rottweiler,dachshund,chihuahua,pit bull,DateTime_length,Days_length
0,A730601,2016-07-07 12:11:00,Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,...,0,0,0,0,0,0,0,0,0 days 20:49:00.000000000,0-7 days
1,A683644,2014-07-13 11:02:00,Owner Surrender,Nursing,Dog,Intact Female,4 weeks,Border Collie Mix,Brown/White,2014-11-06 10:06:00,...,0,0,0,0,0,0,0,0,115 days 23:04:00.000000000,12 weeks - 6 months
2,A676515,2014-04-11 08:45:00,Stray,Normal,Dog,Intact Male,2 months,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,...,0,0,0,0,0,0,0,1,3 days 09:53:00.000000000,0-7 days
3,A742953,2017-01-31 13:30:00,Stray,Normal,Dog,Intact Male,2 years,Saluki,Sable/Cream,2017-02-04 14:17:00,...,0,0,0,0,0,0,0,0,4 days 00:47:00.000000000,0-7 days
4,A679549,2014-05-22 15:43:00,Stray,Normal,Cat,Intact Male,1 month,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,...,0,0,0,0,0,0,0,0,24 days 22:11:00.000000000,3-6 weeks

In [5]:
#Drop null values
pets_transformed = pets_transformed.dropna()

In [6]:
pets_transformed["Animal_Type_intake"].unique()

array(['Cat', 'Dog', 'Other', 'Bird', 'Livestock'], dtype=object)

In [7]:
pets_transformed["Intake_Type"].unique()

array(['Stray', 'Owner Surrender', 'Wildlife', 'Public Assist',
       'Euthanasia Request'], dtype=object)

In [8]:
#Remove values for wildlife intake
wildlife = pets_transformed[ pets_transformed['Intake_Type'] == "Wildlife" ].index

pets_transformed.drop(wildlife , inplace=True)

In [9]:
#Remove Other, Bird, Livestock to leave only cat and dog values
bird = pets_transformed[ pets_transformed['Animal_Type_intake'] == "Bird" ].index
other = pets_transformed[ pets_transformed['Animal_Type_intake'] == "Other" ].index
livestock = pets_transformed[ pets_transformed['Animal_Type_intake'] == "Livestock" ].index


pets_transformed.drop(bird , inplace=True)
pets_transformed.drop(other , inplace=True)
pets_transformed.drop(livestock , inplace=True)

In [10]:
pets_transformed["Intake_Type"].unique()

array(['Stray', 'Owner Surrender', 'Public Assist', 'Euthanasia Request'],
      dtype=object)

In [11]:
pets_transformed["Animal_Type_intake"].unique()

array(['Cat', 'Dog'], dtype=object)

In [12]:
pets_transformed["Sex"].unique()

array(['Intact Male', 'Intact Female', 'Spayed Female', 'Neutered Male',
       'Unknown'], dtype=object)

In [13]:
#Remove unknown values for sex
unknown = pets_transformed[ pets_transformed['Sex'] == "Unknown" ].index
pets_transformed.drop(unknown , inplace=True)

In [14]:
new = pets_transformed.Sex.str.split(expand = True)

In [15]:
#change Sex to just male/female
pets_transformed["Sex"] = new[1]
pets_transformed

,Animal ID,DateTime_intake,Intake_Type,Condition_intake,Animal_Type_intake,Sex,Age_intake,Breed_intake,Color_intake,DateTime_outcome,...,beagle,terrier,boxer,poodle,rottweiler,dachshund,chihuahua,pit bull,DateTime_length,Days_length
0,A730601,2016-07-07 12:11:00,Stray,Normal,Cat,Male,7 months,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,...,0,0,0,0,0,0,0,0,0 days 20:49:00.000000000,0-7 days
1,A683644,2014-07-13 11:02:00,Owner Surrender,Nursing,Dog,Female,4 weeks,Border Collie Mix,Brown/White,2014-11-06 10:06:00,...,0,0,0,0,0,0,0,0,115 days 23:04:00.000000000,12 weeks - 6 months
2,A676515,2014-04-11 08:45:00,Stray,Normal,Dog,Male,2 months,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,...,0,0,0,0,0,0,0,1,3 days 09:53:00.000000000,0-7 days
3,A742953,2017-01-31 13:30:00,Stray,Normal,Dog,Male,2 years,Saluki,Sable/Cream,2017-02-04 14:17:00,...,0,0,0,0,0,0,0,0,4 days 00:47:00.000000000,0-7 days
4,A679549,2014-05-22 15:43:00,Stray,Normal,Cat,Male,1 month,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,...,0,0,0,0,0,0,0,0,24 days 22:11:00.000000000,3-6 weeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76969,A746460,2017-04-03 15:02:00,Stray,Normal,Dog,Male,2 months,Basset Hound Mix,White/Brown,2017-04-07 18:56:00,...,0,0,0,0,0,0,0,0,4 days 03:54:00.000000000,0-7 days
76971,A746679,2017-04-07 09:44:00,Stray,Normal,Cat,Female,1 year,Domestic Shorthair Mix,Tortie,2017-04-08 11:14:00,...,0,0,0,0,0,0,0,0,1 days 01:30:00.000000000,0-7 days
76973,A746689,2017-04-07 12:36:00,Stray,Normal,Dog,Female,2 years,Chihuahua Shorthair Mix,White/Tan,2017-04-08 11:32:00,...,0,0,0,0,0,0,1,0,0 days 22:56:00.000000000,0-7 days
76974,A746466,2017-04-03 15:02:00,Stray,Normal,Dog,Male,2 months,Basset Hound Mix,White/Brown,2017-04-08 12:21:00,...,0,0,0,0,0,0,0,0,4 days 21:19:00.000000000,0-7 days
76975,A746072,2017-03-28 16:49:00,Stray,Normal,Dog,Male,2 years,German Shepherd Mix,Black/Tan,2017-04-01 18:50:00,...,0,0,0,0,0,0,0,0,4 days 02:01:00.000000000,0-7 days

In [25]:
pets_transformed.reset_index(drop = True)

,Animal ID,DateTime_intake,Intake_Type,Condition_intake,Animal_Type_intake,Sex,Age_intake,Breed_intake,Color_intake,DateTime_outcome,...,beagle,terrier,boxer,poodle,rottweiler,dachshund,chihuahua,pit bull,DateTime_length,Days_length
0,A730601,2016-07-07 12:11:00,Stray,Normal,Cat,Male,7 months,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,...,0,0,0,0,0,0,0,0,0 days 20:49:00.000000000,0-7 days
1,A683644,2014-07-13 11:02:00,Owner Surrender,Nursing,Dog,Female,4 weeks,Border Collie Mix,Brown/White,2014-11-06 10:06:00,...,0,0,0,0,0,0,0,0,115 days 23:04:00.000000000,12 weeks - 6 months
2,A676515,2014-04-11 08:45:00,Stray,Normal,Dog,Male,2 months,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,...,0,0,0,0,0,0,0,1,3 days 09:53:00.000000000,0-7 days
3,A742953,2017-01-31 13:30:00,Stray,Normal,Dog,Male,2 years,Saluki,Sable/Cream,2017-02-04 14:17:00,...,0,0,0,0,0,0,0,0,4 days 00:47:00.000000000,0-7 days
4,A679549,2014-05-22 15:43:00,Stray,Normal,Cat,Male,1 month,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,...,0,0,0,0,0,0,0,0,24 days 22:11:00.000000000,3-6 weeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63424,A746460,2017-04-03 15:02:00,Stray,Normal,Dog,Male,2 months,Basset Hound Mix,White/Brown,2017-04-07 18:56:00,...,0,0,0,0,0,0,0,0,4 days 03:54:00.000000000,0-7 days
63425,A746679,2017-04-07 09:44:00,Stray,Normal,Cat,Female,1 year,Domestic Shorthair Mix,Tortie,2017-04-08 11:14:00,...,0,0,0,0,0,0,0,0,1 days 01:30:00.000000000,0-7 days
63426,A746689,2017-04-07 12:36:00,Stray,Normal,Dog,Female,2 years,Chihuahua Shorthair Mix,White/Tan,2017-04-08 11:32:00,...,0,0,0,0,0,0,1,0,0 days 22:56:00.000000000,0-7 days
63427,A746466,2017-04-03 15:02:00,Stray,Normal,Dog,Male,2 months,Basset Hound Mix,White/Brown,2017-04-08 12:21:00,...,0,0,0,0,0,0,0,0,4 days 21:19:00.000000000,0-7 days
63428,A746072,2017-03-28 16:49:00,Stray,Normal,Dog,Male,2 years,German Shepherd Mix,Black/Tan,2017-04-01 18:50:00,...,0,0,0,0,0,0,0,0,4 days 02:01:00.000000000,0-7 days