In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Resources/pets.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,Unnamed: 0,Animal ID,DateTime_intake,Intake_Type,Condition_intake,Animal_Type_intake,Sex,Age_intake,Breed_intake,Color_intake,...,beagle,terrier,boxer,poodle,rottweiler,dachshund,chihuahua,pit bull,DateTime_length,Days_length
0,0,A730601,2016-07-07 12:11:00,Stray,Normal,Cat,Male,7 months,Domestic Shorthair Mix,Blue Tabby,...,0,0,0,0,0,0,0,0,0 days 20:49:00.000000000,0-7 days
1,1,A683644,2014-07-13 11:02:00,Owner Surrender,Nursing,Dog,Female,4 weeks,Border Collie Mix,Brown/White,...,0,0,0,0,0,0,0,0,115 days 23:04:00.000000000,12 weeks - 6 months
2,2,A676515,2014-04-11 08:45:00,Stray,Normal,Dog,Male,2 months,Pit Bull Mix,White/Brown,...,0,0,0,0,0,0,0,1,3 days 09:53:00.000000000,0-7 days
3,3,A742953,2017-01-31 13:30:00,Stray,Normal,Dog,Male,2 years,Saluki,Sable/Cream,...,0,0,0,0,0,0,0,0,4 days 00:47:00.000000000,0-7 days
4,4,A679549,2014-05-22 15:43:00,Stray,Normal,Cat,Male,1 month,Domestic Shorthair Mix,Black/White,...,0,0,0,0,0,0,0,0,24 days 22:11:00.000000000,3-6 weeks

0               StrayNormalCatMale7-12 monthsTransfer
1    Owner SurrenderNursingDogFemale1-6 weeksAdoption
2         StrayNormalDogMale1-6 monthsReturn to Owner
3                 StrayNormalDogMale1-3 yearsTransfer
4                StrayNormalCatMale1-6 monthsTransfer
dtype: object